.version.goals /* version checker */
{
	color: #000002;
	background-color: #28B56A;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.70000000000005px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -12px;
	margin-bottom: -43px;
	width: 0.01px;
}

#pppu158-4
{
	width: 0.01px;
	margin-left: -49px;
}

#ppu158-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 32px;
}

#pu158-4
{
	width: 0.01px;
	margin-left: 1px;
}

#u158-4
{
	z-index: 2;
	width: 225px;
	margin-right: -10000px;
}

#u355-4
{
	z-index: 6;
	margin-right: -10000px;
	margin-top: 11px;
	left: 235px;
}

#u885-4
{
	z-index: 120;
	display: block;
	vertical-align: top;
	margin-top: 9px;
	position: relative;
}

#u957
{
	z-index: 124;
	width: 157px;
	min-height: 132px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 615px;
}

#u729
{
	z-index: 70;
	width: 208px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 858px;
}

#accordionu730wrapper
{
	min-height: 460px;
	z-index: 71;
	margin-bottom: -406px;
	position: relative;
	margin-right: -10000px;
}

#accordionu730
{
	z-index: 71;
	width: 208px;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
}

#u731
{
	z-index: 72;
	width: 208px;
	background-color: transparent;
	position: relative;
}

#u742-5
{
	z-index: 73;
	width: 198px;
	min-height: 34px;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u742-5:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 34px;
	width: 198px;
	margin: 0px;
}

#u742-5.AccordionPanelTabOpen
{
	background-color: transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 34px;
	width: 198px;
	margin: 0px;
}

#u742-5.AccordionPanelTabOpen p
{
	padding-top: 0px;
	padding-bottom: 0px;
}

#u742-3
{
	padding-right: 12px;
}

#u743
{
	float: right;
	margin-top: 2px;
	margin-bottom: 4px;
	margin-right: 11px;
}

#u744
{
	z-index: 78;
	width: 33px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u747
{
	z-index: 79;
	width: 33px;
	height: 5px;
	border-color: #000000;
	background-color: #000000;
	border-radius: 15px;
	position: relative;
	margin-right: -10000px;
}

#u745
{
	z-index: 80;
	width: 33px;
	height: 5px;
	border-color: #000000;
	background-color: #000000;
	border-radius: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u746
{
	z-index: 81;
	width: 33px;
	height: 5px;
	border-color: #000000;
	background-color: #000000;
	border-radius: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
}

#u732
{
	z-index: 83;
	width: 161px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
	padding: 13px 23px 15.283333333333701px 22px;
}

#u739-4
{
	z-index: 84;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u733-4
{
	z-index: 88;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	margin-top: 25px;
	position: relative;
}

#u734-4
{
	z-index: 100;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	margin-top: 24px;
	position: relative;
}

#u740-4
{
	z-index: 96;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	margin-top: 25px;
	position: relative;
}

#u740
{
	text-decoration: none;
	color: #000000;
}

#u741-4
{
	z-index: 92;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	color: #000000;
	margin-top: 25px;
	position: relative;
}

#u738-4
{
	z-index: 116;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	margin-top: 26px;
	position: relative;
}

#u737-4
{
	z-index: 112;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	color: #000000;
	margin-top: 27px;
	position: relative;
}

#u735-4
{
	z-index: 108;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	margin-top: 30px;
	position: relative;
}

#u736-4
{
	z-index: 104;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	margin-top: 31px;
	position: relative;
}

#u739,#u733,#u734,#u738,#u735,#u736
{
	color: #000000;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#pu426-26
{
	width: 0.01px;
	margin-left: -49px;
	margin-top: 51px;
}

#u426-26
{
	z-index: 13;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u431-31
{
	z-index: 39;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 558px;
}

#pu971-24
{
	width: 0.01px;
	margin-left: -49px;
	margin-top: 25px;
}

#u971-24
{
	z-index: 125;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u972-21
{
	z-index: 149;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 559px;
}

#u973-21
{
	z-index: 170;
	display: block;
	vertical-align: top;
	left: -49px;
	margin-top: 40px;
	position: relative;
}

#u927
{
	z-index: 10;
	width: 126px;
	background-color: transparent;
	padding-bottom: 35px;
	margin-left: 417px;
	margin-top: 33px;
	position: relative;
}

#u423
{
	z-index: 11;
	position: relative;
	width: 34px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 46px;
}

#u423_img
{
	display: block;
	vertical-align: top;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 78px;
}

#page .verticalspacer
{
	clear: both;
}

