.version.index /* version checker */
{
	color: #00001F;
	background-color: #FD7D5A;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#ppu158-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: -48px;
}

#pu158-4
{
	width: 0.01px;
}

#u158-4
{
	z-index: 2;
	width: 225px;
	margin-right: -10000px;
}

#u355-4
{
	z-index: 6;
	margin-right: -10000px;
	margin-top: 11px;
	left: 235px;
}

#u317
{
	z-index: 10;
	width: 319px;
	background-color: transparent;
	margin-left: 209px;
	margin-top: 84px;
	position: relative;
}

#u313-12
{
	z-index: 12;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 181px;
	left: 499px;
}

#pu610
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: 808px;
}

#u610
{
	z-index: 27;
	width: 208px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#accordionu611wrapper
{
	min-height: 460px;
	z-index: 28;
	margin-bottom: -406px;
	position: relative;
	margin-right: -10000px;
}

#accordionu611
{
	z-index: 28;
	width: 208px;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
}

#u612
{
	z-index: 29;
	width: 208px;
	background-color: transparent;
	position: relative;
}

#u613-5
{
	z-index: 30;
	width: 198px;
	min-height: 34px;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u613-5:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 34px;
	width: 198px;
	margin: 0px;
}

#u613-5.AccordionPanelTabOpen
{
	background-color: transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 34px;
	width: 198px;
	margin: 0px;
}

#u613-5.AccordionPanelTabOpen p
{
	padding-top: 0px;
	padding-bottom: 0px;
}

#u613-3
{
	padding-right: 12px;
}

#u614
{
	float: right;
	margin-top: 2px;
	margin-bottom: 4px;
	margin-right: 11px;
}

#u615
{
	z-index: 35;
	width: 33px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u616
{
	z-index: 36;
	width: 33px;
	height: 5px;
	border-color: #000000;
	background-color: #000000;
	border-radius: 15px;
	position: relative;
	margin-right: -10000px;
}

#u617
{
	z-index: 37;
	width: 33px;
	height: 5px;
	border-color: #000000;
	background-color: #000000;
	border-radius: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u618
{
	z-index: 38;
	width: 33px;
	height: 5px;
	border-color: #000000;
	background-color: #000000;
	border-radius: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
}

#u619
{
	z-index: 40;
	width: 161px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
	padding: 13px 23px 15.283333333333928px 22px;
}

#u623-4
{
	z-index: 41;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u624-4
{
	z-index: 45;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	margin-top: 25px;
	position: relative;
}

#u625-4
{
	z-index: 57;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	margin-top: 24px;
	position: relative;
}

#u620-4
{
	z-index: 53;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	margin-top: 25px;
	position: relative;
}

#u620
{
	text-decoration: none;
	color: #000000;
}

#u626-4
{
	z-index: 49;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	color: #000000;
	margin-top: 25px;
	position: relative;
}

#u622-4
{
	z-index: 73;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	margin-top: 26px;
	position: relative;
}

#u628-4
{
	z-index: 69;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	color: #000000;
	margin-top: 27px;
	position: relative;
}

#u621-4
{
	z-index: 65;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	margin-top: 30px;
	position: relative;
}

#u627-4
{
	z-index: 61;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	margin-top: 31px;
	position: relative;
}

#u623,#u624,#u625,#u622,#u621,#u627
{
	color: #000000;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#u350
{
	z-index: 26;
	width: 157px;
	min-height: 132px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: actor, sans-serif;
	font-weight: 400;
	margin-left: 31px;
	margin-top: 80px;
	position: relative;
}

#u332
{
	z-index: 24;
	margin-bottom: -13px;
	position: relative;
	width: 34px;
	margin-right: -10000px;
	margin-top: 576px;
	left: 465px;
}

#u332_img
{
	display: block;
	vertical-align: top;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -576px;
}

