.version.module_db305 /* version checker */
{
	color: #00000A;
	background-color: #9924B7;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -48px;
	padding-top: 20px;
	width: 0.01px;
}

#pu158-4
{
	width: 0.01px;
	margin-left: -48px;
}

#u158-4
{
	z-index: 2;
	width: 225px;
	margin-right: -10000px;
}

#u355-4
{
	z-index: 6;
	margin-right: -10000px;
	margin-top: 11px;
	left: 235px;
}

#u767
{
	z-index: 103;
	width: 208px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 857px;
}

#accordionu768wrapper
{
	min-height: 460px;
	z-index: 104;
	margin-bottom: -406px;
	position: relative;
	margin-right: -10000px;
}

#accordionu768
{
	z-index: 104;
	width: 208px;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
}

#u769
{
	z-index: 105;
	width: 208px;
	background-color: transparent;
	position: relative;
}

#u780-5
{
	z-index: 106;
	width: 198px;
	min-height: 34px;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u780-5:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 34px;
	width: 198px;
	margin: 0px;
}

#u780-5.AccordionPanelTabOpen
{
	background-color: transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 34px;
	width: 198px;
	margin: 0px;
}

#u780-5.AccordionPanelTabOpen p
{
	padding-top: 0px;
	padding-bottom: 0px;
}

#u780-3
{
	padding-right: 12px;
}

#u781
{
	float: right;
	margin-top: 2px;
	margin-bottom: 4px;
	margin-right: 11px;
}

#u782
{
	z-index: 111;
	width: 33px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u785
{
	z-index: 112;
	width: 33px;
	height: 5px;
	border-color: #000000;
	background-color: #000000;
	border-radius: 15px;
	position: relative;
	margin-right: -10000px;
}

#u783
{
	z-index: 113;
	width: 33px;
	height: 5px;
	border-color: #000000;
	background-color: #000000;
	border-radius: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u784
{
	z-index: 114;
	width: 33px;
	height: 5px;
	border-color: #000000;
	background-color: #000000;
	border-radius: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
}

#u770
{
	z-index: 116;
	width: 161px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
	padding: 13px 23px 15.283333333333928px 22px;
}

#u777-4
{
	z-index: 117;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u771-4
{
	z-index: 121;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	margin-top: 25px;
	position: relative;
}

#u772-4
{
	z-index: 133;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	margin-top: 24px;
	position: relative;
}

#u778-4
{
	z-index: 129;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	margin-top: 25px;
	position: relative;
}

#u778
{
	text-decoration: none;
	color: #000000;
}

#u779-4
{
	z-index: 125;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	color: #000000;
	margin-top: 25px;
	position: relative;
}

#u776-4
{
	z-index: 149;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	margin-top: 26px;
	position: relative;
}

#u775-4
{
	z-index: 145;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	color: #000000;
	margin-top: 27px;
	position: relative;
}

#u773-4
{
	z-index: 141;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	margin-top: 30px;
	position: relative;
}

#u774-4
{
	z-index: 137;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	margin-top: 31px;
	position: relative;
}

#u777,#u771,#u772,#u776,#u773,#u774
{
	color: #000000;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#u1361-4
{
	z-index: 35;
	left: -50px;
	margin-top: 7px;
	position: relative;
}

#u1362-4
{
	z-index: 39;
	left: -50px;
	margin-top: 19px;
	position: relative;
}

#pu1779-4
{
	width: 0.01px;
	margin-left: -50px;
	margin-top: 15px;
}

#u1779-4
{
	z-index: 95;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u1780-4
{
	z-index: 99;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 537px;
}

#u2110
{
	z-index: 153;
	width: 157px;
	min-height: 132px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 506px;
}

#u1363
{
	z-index: 43;
	width: 461px;
	min-height: 306px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 214px;
	margin-top: 39px;
	position: relative;
}

#u1367-4
{
	z-index: 44;
	margin-left: 310px;
	position: relative;
}

#u1385-4
{
	z-index: 79;
	margin-left: 349px;
	margin-top: 52px;
	position: relative;
}

#pu1356-6
{
	width: 0.01px;
	margin-left: -50px;
	margin-top: 23px;
}

#u1356-6
{
	z-index: 13;
	position: relative;
	width: 508px;
	margin-right: -10000px;
}

#u1383-6
{
	z-index: 61;
	position: relative;
	width: 508px;
	margin-right: -10000px;
	left: 537px;
}

#pu1384-6
{
	width: 0.01px;
	margin-left: -50px;
	margin-top: 28px;
}

#u1384-6
{
	z-index: 67;
	position: relative;
	width: 508px;
	margin-right: -10000px;
}

#u1395-6
{
	z-index: 73;
	position: relative;
	width: 508px;
	margin-right: -10000px;
	left: 537px;
}

#u1381
{
	z-index: 60;
	width: 250px;
	min-height: 15px;
	border-color: #968072;
	background-color: transparent;
	margin-left: 796px;
	margin-top: 56px;
	position: relative;
}

#ppu1369
{
	width: 0.01px;
	margin-left: -97px;
}

#pu1369
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 386px;
}

#u1369
{
	z-index: 48;
	width: 193px;
	border-color: #967F70;
	position: relative;
	margin-right: -10000px;
	left: 384px;
}

.img_fangda
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u1371
{
	z-index: 50;
	width: 193px;
	border-color: #967F70;
	position: relative;
	margin-right: -10000px;
	left: 191px;
}

#u1375
{
	z-index: 54;
	width: 193px;
	border-color: #967F70;
	position: relative;
	margin-right: -10000px;
	left: 574px;
}

#u1379
{
	z-index: 58;
	width: 193px;
	border-color: #967F70;
	position: relative;
	margin-right: -10000px;
}

#u1373
{
	z-index: 52;
	width: 193px;
	border-color: #967F70;
	position: relative;
	margin-right: -10000px;
}

#u1377
{
	z-index: 56;
	width: 193px;
	border-color: #967F70;
	position: relative;
	margin-right: -10000px;
	left: 193px;
}

#pu1357-12
{
	width: 0.01px;
	margin-left: 102px;
	margin-top: 60px;
}

#u1357-12
{
	z-index: 19;
	position: relative;
	width: 291px;
	margin-right: -10000px;
}

#pu1358-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 463px;
}

#u1358-4
{
	z-index: 31;
	position: relative;
}

#u1386-4
{
	z-index: 83;
	margin-top: 2px;
	position: relative;
}

#u1387-4
{
	z-index: 87;
	margin-left: 1px;
	position: relative;
}

#u1388-4
{
	z-index: 91;
	position: relative;
}

#u1611
{
	z-index: 10;
	width: 126px;
	background-color: transparent;
	padding-bottom: 35px;
	margin-left: 418px;
	margin-top: 50px;
	position: relative;
}

#u510
{
	z-index: 11;
	position: relative;
	width: 34px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 45px;
}

#u1361-4_img,#u1362-4_img,#u1367-4_img,#u1385-4_img,#u1356-6_img,#u1383-6_img,#u1384-6_img,#u1395-6_img,#u1357-12_img,#u1358-4_img,#u1386-4_img,#u1387-4_img,#u1388-4_img,#u510_img
{
	display: block;
	vertical-align: top;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

