.version.module_db118 /* version checker */
{
	color: #0000EC;
	background-color: #0DE636;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -41px;
	padding-top: 20px;
	width: 0.01px;
}

#pu158-4
{
	width: 0.01px;
	margin-left: -48px;
}

#u158-4
{
	z-index: 2;
	width: 225px;
	margin-right: -10000px;
}

#u355-4
{
	z-index: 6;
	margin-right: -10000px;
	margin-top: 11px;
	left: 235px;
}

#u2086
{
	z-index: 104;
	width: 208px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 857px;
}

#accordionu2087wrapper
{
	min-height: 460px;
	z-index: 105;
	margin-bottom: -406px;
	position: relative;
	margin-right: -10000px;
}

#accordionu2087
{
	z-index: 105;
	width: 208px;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
}

#u2088
{
	z-index: 106;
	width: 208px;
	background-color: transparent;
	position: relative;
}

#u2089-5
{
	z-index: 107;
	width: 198px;
	min-height: 34px;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u2089-5:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 34px;
	width: 198px;
	margin: 0px;
}

#u2089-5.AccordionPanelTabOpen
{
	background-color: transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 34px;
	width: 198px;
	margin: 0px;
}

#u2089-5.AccordionPanelTabOpen p
{
	padding-top: 0px;
	padding-bottom: 0px;
}

#u2089-3
{
	padding-right: 12px;
}

#u2090
{
	float: right;
	margin-top: 2px;
	margin-bottom: 4px;
	margin-right: 11px;
}

#u2091
{
	z-index: 112;
	width: 33px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u2092
{
	z-index: 113;
	width: 33px;
	height: 5px;
	border-color: #000000;
	background-color: #000000;
	border-radius: 15px;
	position: relative;
	margin-right: -10000px;
}

#u2094
{
	z-index: 114;
	width: 33px;
	height: 5px;
	border-color: #000000;
	background-color: #000000;
	border-radius: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u2093
{
	z-index: 115;
	width: 33px;
	height: 5px;
	border-color: #000000;
	background-color: #000000;
	border-radius: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
}

#u2095
{
	z-index: 117;
	width: 161px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
	padding: 13px 23px 15.283333333333928px 22px;
}

#u2097-4
{
	z-index: 118;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u2098-4
{
	z-index: 122;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	margin-top: 25px;
	position: relative;
}

#u2099-4
{
	z-index: 134;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	margin-top: 24px;
	position: relative;
}

#u2104-4
{
	z-index: 130;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	margin-top: 25px;
	position: relative;
}

#u2104
{
	text-decoration: none;
	color: #000000;
}

#u2100-4
{
	z-index: 126;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	color: #000000;
	margin-top: 25px;
	position: relative;
}

#u2096-4
{
	z-index: 150;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	margin-top: 26px;
	position: relative;
}

#u2102-4
{
	z-index: 146;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	color: #000000;
	margin-top: 27px;
	position: relative;
}

#u2101-4
{
	z-index: 142;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	margin-top: 30px;
	position: relative;
}

#u2103-4
{
	z-index: 138;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	margin-top: 31px;
	position: relative;
}

#u2097,#u2098,#u2099,#u2096,#u2101,#u2103
{
	color: #000000;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#u977-4
{
	z-index: 33;
	display: block;
	vertical-align: top;
	left: -50px;
	margin-top: 7px;
	position: relative;
}

#ppu1778-4
{
	width: 0.01px;
	margin-left: -50px;
	margin-top: 19px;
}

#pu1778-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 54px;
	margin-left: 507px;
}

#u1778-4
{
	z-index: 100;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 31px;
}

#u2108
{
	z-index: 154;
	width: 157px;
	min-height: 132px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u980-6
{
	z-index: 37;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u1777-4
{
	z-index: 96;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 102px;
}

#pu983
{
	width: 0.01px;
	margin-left: 42px;
	margin-top: 42px;
}

#u983
{
	z-index: 43;
	width: 344px;
	min-height: 220px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u987
{
	z-index: 44;
	width: 344px;
	min-height: 220px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 462px;
}

#pu989-5
{
	width: 0.01px;
	margin-left: 79px;
}

#u989-5
{
	z-index: 45;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u991-5
{
	z-index: 50;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 462px;
}

#u1350-4
{
	z-index: 80;
	display: block;
	vertical-align: top;
	margin-left: 349px;
	margin-top: 44px;
	position: relative;
}

#pu458-6
{
	width: 0.01px;
	margin-left: -84px;
	margin-top: 17px;
}

#u458-6
{
	z-index: 13;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u1348-6
{
	z-index: 68;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 385px;
}

#u1349-6
{
	z-index: 74;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 769px;
}

#u1018
{
	z-index: 67;
	width: 250px;
	min-height: 15px;
	border-color: #968072;
	background-color: transparent;
	margin-left: 796px;
	margin-top: 46px;
	position: relative;
}

#ppu1016
{
	width: 0.01px;
	margin-left: -97px;
}

#pu1016
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 386px;
}

#u1016
{
	z-index: 55;
	width: 193px;
	border-color: #967F70;
	position: relative;
	margin-right: -10000px;
	left: 384px;
}

.img_fangda
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u1236
{
	z-index: 57;
	width: 193px;
	border-color: #967F70;
	position: relative;
	margin-right: -10000px;
	left: 191px;
}

#u1223
{
	z-index: 61;
	width: 193px;
	border-color: #967F70;
	position: relative;
	margin-right: -10000px;
	left: 574px;
}

#u1257
{
	z-index: 65;
	width: 193px;
	border-color: #967F70;
	position: relative;
	margin-right: -10000px;
}

#u1260
{
	z-index: 59;
	width: 193px;
	border-color: #967F70;
	position: relative;
	margin-right: -10000px;
}

#u1233
{
	z-index: 63;
	width: 193px;
	border-color: #967F70;
	position: relative;
	margin-right: -10000px;
	left: 193px;
}

#pu459-10
{
	width: 0.01px;
	margin-left: 82px;
	margin-top: 69px;
}

#u459-10
{
	z-index: 19;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#pu460-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 469px;
}

#u460-4
{
	z-index: 29;
	display: block;
	vertical-align: top;
	position: relative;
}

#u1352-4
{
	z-index: 84;
	margin-top: 2px;
	position: relative;
}

#u1353-4
{
	z-index: 88;
	margin-left: 1px;
	position: relative;
}

#u1354-4
{
	z-index: 92;
	position: relative;
}

#u1610
{
	z-index: 10;
	width: 126px;
	background-color: transparent;
	padding-bottom: 38px;
	margin-left: 418px;
	margin-top: 42px;
	position: relative;
}

#u449
{
	z-index: 11;
	position: relative;
	width: 34px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 45px;
}

#u1352-4_img,#u1353-4_img,#u1354-4_img,#u449_img
{
	display: block;
	vertical-align: top;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

