.version.project_dph96 /* version checker */
{
	color: #0000E4;
	background-color: #979E84;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -51px;
	padding-top: 20px;
	width: 0.01px;
}

#pu158-4
{
	width: 0.01px;
	margin-left: -48px;
}

#u158-4
{
	z-index: 2;
	width: 225px;
	margin-right: -10000px;
}

#u355-4
{
	z-index: 6;
	margin-right: -10000px;
	margin-top: 11px;
	left: 235px;
}

#u1675
{
	z-index: 121;
	width: 208px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 857px;
}

#accordionu1676wrapper
{
	min-height: 460px;
	z-index: 122;
	margin-bottom: -406px;
	position: relative;
	margin-right: -10000px;
}

#accordionu1676
{
	z-index: 122;
	width: 208px;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
}

#u1677
{
	z-index: 123;
	width: 208px;
	background-color: transparent;
	position: relative;
}

#u1678-5
{
	z-index: 124;
	width: 198px;
	min-height: 34px;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1678-5:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 34px;
	width: 198px;
	margin: 0px;
}

#u1678-5.AccordionPanelTabOpen
{
	background-color: transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 34px;
	width: 198px;
	margin: 0px;
}

#u1678-5.AccordionPanelTabOpen p
{
	padding-top: 0px;
	padding-bottom: 0px;
}

#u1678-3
{
	padding-right: 12px;
}

#u1679
{
	float: right;
	margin-top: 2px;
	margin-bottom: 4px;
	margin-right: 11px;
}

#u1680
{
	z-index: 129;
	width: 33px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u1683
{
	z-index: 130;
	width: 33px;
	height: 5px;
	border-color: #000000;
	background-color: #000000;
	border-radius: 15px;
	position: relative;
	margin-right: -10000px;
}

#u1681
{
	z-index: 131;
	width: 33px;
	height: 5px;
	border-color: #000000;
	background-color: #000000;
	border-radius: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u1682
{
	z-index: 132;
	width: 33px;
	height: 5px;
	border-color: #000000;
	background-color: #000000;
	border-radius: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
}

#u1684
{
	z-index: 134;
	width: 161px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
	padding: 13px 23px 15.283333333333928px 22px;
}

#u1690-4
{
	z-index: 135;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u1692-4
{
	z-index: 139;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	margin-top: 25px;
	position: relative;
}

#u1687-4
{
	z-index: 151;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	margin-top: 24px;
	position: relative;
}

#u1691-4
{
	z-index: 147;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	margin-top: 25px;
	position: relative;
}

#u1691
{
	text-decoration: none;
	color: #000000;
}

#u1685-4
{
	z-index: 143;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	color: #000000;
	margin-top: 25px;
	position: relative;
}

#u1689-4
{
	z-index: 167;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	margin-top: 26px;
	position: relative;
}

#u1686-4
{
	z-index: 163;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	color: #000000;
	margin-top: 27px;
	position: relative;
}

#u1693-4
{
	z-index: 159;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	margin-top: 30px;
	position: relative;
}

#u1688-4
{
	z-index: 155;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	margin-top: 31px;
	position: relative;
}

#u1690,#u1692,#u1687,#u1689,#u1693,#u1688
{
	color: #000000;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#ppu1649-4
{
	width: 0.01px;
	margin-left: -50px;
	margin-top: 7px;
}

#pu1649-4
{
	width: 0.01px;
	margin-right: -10000px;
}

#u1649-4
{
	z-index: 57;
	display: block;
	vertical-align: top;
	position: relative;
}

#u1650-4
{
	z-index: 61;
	display: block;
	vertical-align: top;
	margin-top: 19px;
	position: relative;
}

#u2114
{
	z-index: 171;
	width: 157px;
	min-height: 132px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 537px;
}

#pu1643-4
{
	width: 0.01px;
	margin-left: -50px;
	margin-top: 9px;
}

#u1643-4
{
	z-index: 27;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u1773-4
{
	z-index: 31;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 537px;
}

#u1651
{
	z-index: 65;
	width: 461px;
	min-height: 306px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 223px;
	margin-top: 17px;
	position: relative;
}

#u1653-4
{
	z-index: 66;
	display: block;
	vertical-align: top;
	margin-left: 318px;
	position: relative;
}

#pu1749
{
	width: 0.01px;
	margin-left: 49px;
	margin-top: 13px;
}

#u1749
{
	z-index: 117;
	width: 390px;
	border-color: #967F70;
	position: relative;
	margin-right: -10000px;
}

.img_fangda
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u1749_img
{
	padding-top: 51px;
	padding-bottom: 52px;
}

#u1755
{
	z-index: 119;
	width: 390px;
	border-color: #967F70;
	position: relative;
	margin-right: -10000px;
	left: 471px;
}

#u1755_img
{
	padding-top: 29px;
	padding-bottom: 28px;
}

#pu1761-4
{
	width: 0.01px;
	margin-left: 111px;
}

#u1761-4
{
	z-index: 70;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u1762-4
{
	z-index: 74;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 485px;
}

#u1671-4
{
	z-index: 113;
	display: block;
	vertical-align: top;
	margin-left: 349px;
	margin-top: 54px;
	position: relative;
}

#pu1644-6
{
	width: 0.01px;
	margin-left: -50px;
	margin-top: 29px;
}

#u1644-6
{
	z-index: 35;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u1668-6
{
	z-index: 95;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 537px;
}

#ppu1670-6
{
	width: 0.01px;
	margin-left: -51px;
	margin-top: 49px;
}

#pu1670-6
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 524px;
}

#u1670-6
{
	z-index: 107;
	display: block;
	vertical-align: top;
	margin-left: 14px;
	position: relative;
}

#u1666
{
	z-index: 94;
	width: 250px;
	min-height: 15px;
	border-color: #968072;
	background-color: transparent;
	margin-left: 169px;
	margin-top: 32px;
	position: relative;
}

#pu1656
{
	width: 0.01px;
	margin-top: 7px;
}

#u1656
{
	z-index: 80;
	width: 262px;
	border-color: #967F70;
	position: relative;
	margin-right: -10000px;
	left: 260px;
}

#u1656_clip
{
	overflow: hidden;
	width: 262px;
	height: 252px;
}

#u1656_img
{
	margin-left: -26px;
	margin-right: -39px;
}

#u1660
{
	z-index: 84;
	width: 262px;
	border-color: #967F70;
	position: relative;
	margin-right: -10000px;
}

#u1658
{
	z-index: 82;
	width: 262px;
	border-color: #967F70;
	position: relative;
	margin-right: -10000px;
	margin-top: 506px;
}

#u1662
{
	z-index: 90;
	width: 262px;
	border-color: #967F70;
	position: relative;
	margin-right: -10000px;
	margin-top: 506px;
	left: 262px;
}

#u1669-6
{
	z-index: 101;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#pu1725
{
	width: 0.01px;
	margin-left: -52px;
	margin-top: -1px;
}

#u1725
{
	z-index: 86;
	width: 262px;
	border-color: #967F70;
	position: relative;
	margin-right: -10000px;
	left: 784px;
}

#u1737
{
	z-index: 88;
	width: 262px;
	border-color: #967F70;
	position: relative;
	margin-right: -10000px;
	left: 525px;
}

#u1664
{
	z-index: 92;
	width: 262px;
	border-color: #967F70;
	-webkit-transform: matrix(-1,0,0,-1,262,252);
	-ms-transform: matrix(-1,0,0,-1,262,252);
	transform: matrix(-1,0,0,-1,262,252);
	position: relative;
	margin-right: -10000px;
}

#u1728
{
	z-index: 78;
	width: 262px;
	border-color: #967F70;
	position: relative;
	margin-right: -10000px;
	left: 262px;
}

#pu1645-12
{
	width: 0.01px;
	margin-left: 80px;
	margin-top: 58px;
}

#u1645-12
{
	z-index: 41;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#pu1646-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 493px;
}

#u1646-4
{
	z-index: 53;
	display: block;
	vertical-align: top;
	position: relative;
}

#u1673-4
{
	z-index: 10;
	margin-left: 1px;
	margin-top: 2px;
	position: relative;
}

#u1674-4
{
	z-index: 14;
	position: relative;
}

#u1763-4
{
	z-index: 18;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#pu497
{
	width: 0.01px;
	margin-left: 418px;
	margin-top: 53px;
}

#u497
{
	z-index: 22;
	position: relative;
	width: 34px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 45px;
}

#u1640
{
	z-index: 24;
	width: 126px;
	background-color: transparent;
	padding-bottom: 35px;
	position: relative;
	margin-right: -10000px;
}

#u1641
{
	z-index: 25;
	position: relative;
	width: 34px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 45px;
}

#u1673-4_img,#u1674-4_img,#u1763-4_img,#u497_img,#u1641_img
{
	display: block;
	vertical-align: top;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

