# Site settings
title: "Liam's Blog"
url: "https://liamchzh.github.io"
author: "Liam"
email: "liamchzh@gmail.com"
description: "A place to share my experiences and thoughts"
baseurl: ""

# Google analytics
google_analytics:
  provider : google
  google : 
      tracking_id : 'UA-48154886-1'
  getclicky :
    site_id :

# Optional features
animated:           false
show_related_posts: false

# Disqus post comments
# (leave blank to disable Disqus)
disqus_shortname:

# Social icons
show_social_icons: false
github_username:
stackoverflow_id:
twitter_username:
google_plus_id:
linkedin_username:
bitcoin_url:
paypal_url:
flattr_button:

# Post sharing icons
show_sharing_icons: false
share_text: 'Share this post!'
# Change to 'true' to enable individual icons
share_facebook: false
share_twitter: false
share_googleplus: false
share_linkedin: false
share_digg: false
share_tumblr: false
share_reddit: false
share_stumbleupon: false

# Build settings
markdown: kramdown
permalink:    pretty
paginate:     7
sass:
  compressed: true
